.acme-navbar-text{
  color: lightblue;
  text-align:left;
  vertical-align: text-bottom;
}

a {
  color: black;
}

h1 {
  font-size: 3em;
  margin: 0 0 0 0;
  line-height: 1.25em;
}

h1:hover, h1:focus {
  color: lightblue;
}
